html
  	text-rendering: optimizeLegibility
	-webkit-text-size-adjust none
	-webkit-font-smoothing antialiased
	-ms-text-size-adjust 100%
	
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, hr, button, article, aside, figure, footer, header, menu, nav, section
	margin 0
	padding 0
	outline 0
	box-sizing border-box

body, html
	height 100%
	background-color #fff
body
	-moz-user-select none /* 火狐 */
	-webkit-user-select none /* webkit浏览器 */
	-ms-user-select none /* IE10 */
	-khtml-user-select none /* 早期浏览器 */
	user-select none
	font-size 14px
	line-height 1.6
	font-family Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
img, svg, input, textarea
	vertical-align middle
a img
	border 0
a
	text-decoration none