@import '~@/layout/variable.styl'

// @import '~@/styles/variable/index.styl'

.layout-content {
    min-height:  'calc(100% - %s)' %  ($layout-header-height + $layout-footer-height)
    // background-color: $theme-color;

}
